@keyframes square {
    0% {
      height: 0px;
      width: 0px;
      border-radius: 0px;
      opacity: .3;
      transform: translate(-50%, -50%);
    }
    50% {
      height: 1000px;
      width: 1000px;
      border-radius: 0px;
      opacity: 1;
    }
    100% {
      height: 0px;
      width: 0px;
      border-radius: 0px;
      opacity: 0;
    }
  }

  @keyframes stick {
    0% {
      height: 0px;
      width: 0px;
      border-radius: 25%;
      opacity: .3;
      transform: translate(-50%, -50%);
    }
    25% {
      height: 1000px;
      width: 50px;
      border-radius: 25%;
      opacity: 1;
    }
    50% {
      height: 0px;
      width: 0px;
      border-radius: 25%;
      opacity: 0;
    }
    75% {
        height: 2000px;
        width: 100px;
        border-radius: 25%;
        opacity: 1;
      }
      100% {
        height: 10000px;
        width: 500px;
        border-radius: 25%;
        opacity: 0;
      }
  }

  @keyframes tinyBall {
    0% {
      height: 0px;
      width: 0px;
      border-radius: 100%;
      opacity: .3;
      transform: translate(-50%, -50%);
    }
    50% {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      opacity: 1;
    }
    100% {
      height: 0px;
      width: 0px;
      border-radius: 0px;
      opacity: 0;
    }
  }
  
  @keyframes oval {
    0% {
      height: 0px;
      width: 0px;
      border-radius: 75%;
      opacity: .3;
      transform: translate(-50%, -50%);
    }
    50% {
      height: 500px;
      width: 1000px;
      border-radius: 75%;
      opacity: 1;
    }
    100% {
      height: 0px;
      width: 0px;
      border-radius: 25px;
      opacity: 0;
    }
  }
  
  @keyframes rectangle {
    0% {
      transform: translate(-50%, -50%);
      height: 0px;
      width: 0px;
      border-radius: 0px;
      opacity: .3;
    }
    
    50% {
      height: 1500px;
      width: 1000px;
      border-radius: 0px;
      opacity: 1;
    }
    100% {
      height: 0px;
      width: 0px;
      border-radius: 0px;
      opacity: 0;
    }
  }
  
  .spot{
    position: absolute;
    animation-duration: 8s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
    z-index: 0;
  };
  
  .cleared{
    height: 100%;
    width:  100%;
  }
  
  body{
    width: 100%;
    height: 500px;
    background-color: black;
    overflow: hidden;
  }
  
  #stopShape{
    position: absolute;
    z-index: 10;
    background-color: teal;
    border: none;
  }

  .whole{
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 0;
  }